html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  background: url(images/background.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  font-family: "Courier New", Courier, monospace;
  height: 100%;
  overflow: hidden;
}

.login-form {
  width: 360px;
  margin: auto;
  padding: 100px;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background: #3b4652;
  opacity: 0.95;
  border-radius: 2px;
}

.form input[type="email"],
.form input[type="password"],
.form input[type="text"] {
  font-family: Georgia, serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 300;
  background: #a4b0bd;
  border-radius: 2px;
}

.form input[type="submit"] {
  font-family: Georgia, serif;
  outline: 0;
  background: #019031;
  width: 100%;
  border: 0;
  margin: 0 0 0;
  margin-top: 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 300;
  border-radius: 2px;
}
.form input[type="submit"]:hover {
  background: #43be31;
  cursor: pointer;
}

p {
  font-family: Georgia, serif;
}
p a {
  color: #30336b;
  text-decoration: none;
  font-size: 18px;
}
